.info {
    border: 100px solid #efd3ea; height:auto !important;width: auto !important;
}


.table1 {
    table {border: 2px solid; width: 900px; 
        th {border: 1px solid; color: aqua;  height: 50px;} 
        td {
            border: 1px solid;
            background-color: #e56774;
            color: aliceblue;
            text-align: center;
            width: auto;
        }
    }
}

.lh1{line-height: 1px !important;}
.lh5{line-height: 5px !important;}
.lh10{line-height: 10px !important;}
.lh15{line-height: 15px !important;}
.lh20{line-height: 20px !important;}
.lh25{line-height: 25px !important;}
.lh30{line-height: 30px !important;}
.lh50{line-height: 50px !important;}
.lh60{line-height: 60px !important;}
.lh70{line-height: 70px !important;}
.lh80{line-height: 80px !important;}
.lh90{line-height: 90px !important;}
.lh100{line-height: 100px !important;}
.lh200{line-height: 200px !important;}
.lh300{line-height: 300px !important;}
.lh400{line-height: 400px !important;}
.lh500{line-height: 500px !important;}

.ml1{margin-left: 1px !important;}
.ml5{margin-left: 5px !important;}
.ml10{margin-left: 10px !important;}
.ml15{margin-left: 15px !important;}
.ml20{margin-left: 20px !important;}
.ml25{margin-left: 25px !important;}
.ml30{margin-left: 30px !important;}
.ml50{margin-left: 50px !important;}
.ml60{margin-left: 60px !important;}
.ml70{margin-left: 70px !important;}
.ml80{margin-left: 80px !important;}
.ml90{margin-left: 90px !important;}
.ml100{margin-left: 100px !important;}
.ml200{margin-left: 200px !important;}
.ml300{margin-left: 300px !important;}
.ml400{margin-left: 400px !important;}
.ml500{margin-left: 500px !important;}
